{% extends "register/base.html" %}
{% load static %}

{% block content %}

{% for message in last_messages %}
    {% if message.author.username == user.username %}
 <div class="container">
    {% else %}
 <div class="container darker">
     {% endif %}
     <strong class = "user-left" >{{ message.author }}</strong>
     <span class="time-right">{{ message.timestamp|date:'y-m-d H:M' }}</span>
          <br/>
    <p>{{ message.content }}</p>
</div>
{% endfor %}
<form class="form-inline" id="chat-tool">
    {% if not user.is_authenticated %}
    <fieldset disabled>
    {% endif %}
<div class="form-group mb-2">
    <input id="chat-message-input" class="form-control" type="text" size="50" placeholder="Write a message"/><br/>
</div>
    <button id="chat-message-submit" class="btn btn-info mb-2" type="button" > Send
    </button>
    {% if not user.is_authenticated %}
    </fieldset>
    {% endif %}
</form>
<script>
    var authenticated = {{ user.is_authenticated | yesno:"true,false" }};
    var roomName = {{ room_name_json }};
    var current_user = '{{ user.username }}';
</script>
<script src="{% static 'js/message.js' %}" type="text/javascript"></script>

{% endblock %}