<!-- base.html -->
{% load static %}
<!doctype html>
<html>
<head>

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel='stylesheet' href="{% static 'css/style.css' %}" type="text/css">

	<title>{% block title %} Chat with Channels {% endblock %}</title>
</head>

<body>

	<div id='notification_bar' class="sidenav">
		<a  href="#" class="notification" id="inbox">
  		<span>Inbox</span>
  		<span class="badge" id="notification_counter"></span>
		</a>
		<a href="/chat/Lobby/">Lobby</a>

		{% for user in user_list %}
		<a href="/chat/{{ user.username }}">{{ user.username }}</a>
		{% endfor %}
	</div>

	<div id="content" name="content" class="main">
		{% if user.is_authenticated %}

		<p class="text-right">Logged in as {{ user.username }} / <a href="/logout/"> <span >Log out</span></a></p>
		{% else %}
		<p class="text-right"><a href="/login/">Log in</a> / <a href="/register/">Register</a> </p>
		{% endif %}

		<div class="row justify-content-center">
			<div class="col-8" id="event_container">
				<h1 class="mt-2">Chat with Channels </h1>
				<hr class="mt-0 mb-4">

				{% block content %}
				{% endblock %}
			</div>
		</div>
	</div>

	<div class="sidebar">
  <h2>Notifications</h2>
</div>
<script>


  function cancel_click(caller) {
  	console.log("toggling visibility");
  	console.log(caller);
  	var parent = caller.closest('.notibox');
  	parent.classList.toggle('gone');
  }
</script>
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>